// Variables for the different themes
@import '__variables-dark.scss';
@import '__variables-light.scss';

// Bootstrap variables
$enable-rounded: false;
$input-focus-box-shadow: none;
$input-btn-focus-box-shadow: none;