// Bootstrap variables
$enable-rounded: false;
$input-focus-box-shadow: none;
$input-btn-focus-box-shadow: none;
// Validation
// disable validation icons and colors
$form-feedback-valid-color: black;
$form-feedback-valid-icon: none;