// Forms
.form-check-input[type=checkbox] {
    border-radius: 0;
}

label.required:after {
    content: "*";
    color: red;
}

.btn-primary {
    color: #fff;

    &:hover {
        color: #fff;
    }
}