// Forms
label.required:after {
    content: "*";
    color: red;
}
.form-check-input[type=checkbox] {
    border-radius: 0;
}
// Buttons
.btn-primary {
    color: #fff !important;
    font-weight: 700;
    letter-spacing: 1px;

    &:hover, &:focus {
        color: #fff !important;
    }
}

.btn-outline-primary {
    color: $primary !important;
    font-weight: 700;
    letter-spacing: 1px;
    border-color: $primary !important;

    &:hover, &:focus {
        color: #fff !important;
        background-color: $primary !important;
        border-color: $primary !important;
    }
}


// QUILL EDITOR
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
    z-index: 5;
}

.ql-snow.ql-toolbar button:hover, .ql-snow .ql-toolbar button:hover, .ql-snow.ql-toolbar button:focus, .ql-snow .ql-toolbar button:focus, .ql-snow.ql-toolbar button.ql-active, .ql-snow .ql-toolbar button.ql-active, .ql-snow.ql-toolbar .ql-picker-label:hover, .ql-snow .ql-toolbar .ql-picker-label:hover, .ql-snow.ql-toolbar .ql-picker-label.ql-active, .ql-snow .ql-toolbar .ql-picker-label.ql-active, .ql-snow.ql-toolbar .ql-picker-item:hover, .ql-snow .ql-toolbar .ql-picker-item:hover, .ql-snow.ql-toolbar .ql-picker-item.ql-selected, .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    color: $primary;
}

.ql-snow.ql-toolbar button:hover, .ql-snow .ql-toolbar button:hover, .ql-snow.ql-toolbar button:focus, .ql-snow .ql-toolbar button:focus, .ql-snow.ql-toolbar button.ql-active, .ql-snow .ql-toolbar button.ql-active, .ql-snow.ql-toolbar .ql-picker-label:hover, .ql-snow .ql-toolbar .ql-picker-label:hover, .ql-snow.ql-toolbar .ql-picker-label.ql-active, .ql-snow .ql-toolbar .ql-picker-label.ql-active, .ql-snow.ql-toolbar .ql-picker-item:hover, .ql-snow .ql-toolbar .ql-picker-item:hover, .ql-snow.ql-toolbar .ql-picker-item.ql-selected, .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    color: $primary;
    stroke: $primary;
}