// Forms
label.required:after {
    content: "*";
    color: red;
}
.form-check-input[type=checkbox] {
    border-radius: 0;
}
// Buttons
.btn-primary {
    color: #fff !important;
    font-weight: 700;
    letter-spacing: 1px;

    &:hover, &:focus {
        color: #fff !important;
    }
}

.btn-outline-primary {
    color: $primary !important;
    font-weight: 700;
    letter-spacing: 1px;
    border-color: $primary !important;

    &:hover, &:focus {
        color: #fff !important;
        background-color: $primary !important;
        border-color: $primary !important;
    }
}